body {
  font-family: sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

/* Light mode */
body.light-mode {
  background-color: #f5f5f5;
  color: #333;
}

/* Dark mode */
body.dark-mode {
  background-color: #333;
  color: #f5f5f5;
}

#theme-toggle {
  cursor: pointer;
  margin-bottom: 1rem;
}
